<form action="/login" method="POST">
  Username
  <input type="text" name="username" value="admin"><br>
  Password
  <input type="text" name="password" value="admin"><br>
  <button type="submit">Submit</button>
</form>