<!DOCTYPE html>

<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 10 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">

<!--begin::Head-->

<head>
  <base href="">
  <meta charset="utf-8" />
  <title>HWA - {{title}}</title>
  <meta name="description" content="Updates and statistics" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="canonical" href="https://keenthemes.com/metronic" />

  <!--begin::Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
  <!--end::Fonts-->

  <!--begin::Page Vendors Styles(used by this page)-->
  <link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

  <!--end::Page Vendors Styles-->

  <!--begin::Global Theme Styles(used by all pages)-->
  <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

  <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://vjs.zencdn.net/7.2.3/video-js.css">
    
  <!--end::Global Theme Styles-->

  <!--begin::Layout Themes(used by all pages)-->

  <!--end::Layout Themes-->
  <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
 
   <link href="/css/app.css" rel="stylesheet" type="text/css" />

 <script src="js/handlebars-v4.0.5.js"></script>  
     <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>  
     
</head>

<!--end::Head-->

<!--begin::Body-->

<body id="kt_body" style="background-image: url(/assets/media/bg/bg-10.jpg)"
  class="page-loading-enabled page-loading quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">

  <!--[html-partial:include:{"file":"partials/_page-loader.html"}]/-->
  {{>page-loader}}

  <!--[html-partial:include:{"file":"layout.html"}]/-->



  <!--begin::Main-->

  <!--[html-partial:include:{"file":"partials/_header-mobile.html"}]/-->
  {{>header-mobile}}
  <div class="d-flex flex-column flex-root">

    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">

      <!--begin::Wrapper-->
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

        <!--[html-partial:include:{"file":"partials/_header.html"}]/-->
        {{> header}}
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

          <!--[html-partial:include:{"file":"partials/_subheader.html"}]/-->
          {{> subheader}}
          <!--[html-partial:include:{"file":"partials/_content.html"}]/-->

          {{{body}}}
        </div>

        <!--end::Content-->

        <!--[html-partial:include:{"file":"partials/_footer/extended.html"}]/-->
      </div>

      <!--end::Wrapper-->
    </div>

    <!--end::Page-->
  </div>

  <!--end::Main-->





  <!--[html-partial:include:{"file":"partials/_extras/offcanvas/quick-user.html"}]/-->
  {{> "extras/offcanvas/quick-user"}}

  <!--[html-partial:include:{"file":"partials/_extras/offcanvas/quick-panel.html"}]/-->



  <!--[html-partial:include:{"file":"partials/_extras/chat.html"}]/-->

  <!--[html-partial:include:{"file":"partials/_extras/scrolltop.html"}]/-->

  <!--[html-partial:include:{"file":"partials/_extras/toolbar.html"}]/-->

  <!--[html-partial:include:{"file":"partials/_extras/offcanvas/demo-panel.html"}]/-->

  <script>
    var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";
  </script>

  <!--begin::Global Config(global config for global JS scripts)-->
  <script>
    var KTAppSettings = {
      "breakpoints": {
        "sm": 576,
        "md": 768,
        "lg": 992,
        "xl": 1200,
        "xxl": 1200
      },
      "colors": {
        "theme": {
          "base": {
            "white": "#ffffff",
            "primary": "#6993FF",
            "secondary": "#E5EAEE",
            "success": "#1BC5BD",
            "info": "#8950FC",
            "warning": "#FFA800",
            "danger": "#F64E60",
            "light": "#F3F6F9",
            "dark": "#212121"
          },
          "light": {
            "white": "#ffffff",
            "primary": "#E1E9FF",
            "secondary": "#ECF0F3",
            "success": "#C9F7F5",
            "info": "#EEE5FF",
            "warning": "#FFF4DE",
            "danger": "#FFE2E5",
            "light": "#F3F6F9",
            "dark": "#D6D6E0"
          },
          "inverse": {
            "white": "#ffffff",
            "primary": "#ffffff",
            "secondary": "#212121",
            "success": "#ffffff",
            "info": "#ffffff",
            "warning": "#ffffff",
            "danger": "#ffffff",
            "light": "#464E5F",
            "dark": "#ffffff"
          }
        },
        "gray": {
          "gray-100": "#F3F6F9",
          "gray-200": "#ECF0F3",
          "gray-300": "#E5EAEE",
          "gray-400": "#D6D6E0",
          "gray-500": "#B5B5C3",
          "gray-600": "#80808F",
          "gray-700": "#464E5F",
          "gray-800": "#1B283F",
          "gray-900": "#212121"
        }
      },
      "font-family": "Poppins"
    };
  </script>

  <!--end::Global Config-->

  <!--begin::Global Theme Bundle(used by all pages)-->
  <script src="/assets/plugins/global/plugins.bundle.js"></script>
  <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
  <script src="/assets/js/scripts.bundle.js"></script>

  <!--end::Global Theme Bundle-->

  <!--begin::Page Vendors(used by this page)-->
  <script src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>

  <!--end::Page Vendors-->

  <!--begin::Page Scripts(used by this page)-->
  <script src="/assets/js/pages/widgets.js"></script>

  <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>

  <!--end::Page Scripts-->


  
</body>

<!--end::Body-->

  
</html>